<?xml version="1.0"?>
<robot name="glass4">
	<link name="base">
	<visual>
		<origin xyz="0 0 0.127" rpy="0 0 0" />
		<geometry>
       			 <mesh filename="Glass.dae" scale="0.0254 0.0254 0.0254"/>
      		</geometry>
		</visual>
  	 <collision>
		<origin xyz="0 0 0.127" rpy="0 0 0" />
            <geometry>
       			 <mesh filename="Glass.dae" scale="0.0254 0.0254 0.0254"/>
            </geometry>
        </collision>
	</link>
</robot>

